.loader {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border: 5px dotted #fff;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 2s linear infinite, showLoader 200ms ease forwards;
}

@keyframes rotation {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

@keyframes showLoader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
