// Fonts
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("/manrope-v15-latin-800.woff2") format("woff2");
}
$font-family: "Manrope", sans-serif;
$font-weight: 800;

// Colours
$clr-blue: rgba(32, 39, 51, 1);
$clr-grey-dark: rgba(49, 58, 72, 1);
$clr-grey: rgba(79, 93, 116, 1);
$clr-cyan: rgba(206, 227, 233, 1);
$clr-green: rgba(83, 255, 170, 1);

// Breakpoints
